body{
    cursor: url(../assets/images/cursor.png), url(../assets/images/cursor2.cur), auto;
    background-color: rgba(255, 217, 0, 0.404);
}


.header{
    text-align: center;
}

.logo{
    width: 600px;
    height: 250px;
}

.button{
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    background-color: gold;
}

.button:hover{
    animation-name: aumentarColores;
    animation-duration: 1s;
    animation-direction: alternate; /*Alterna la animación de forma que primero va de 0 a 100 luego de 100 a 0 luego de 0 a 100, etc*/
    animation-iteration-count: infinite;
}

@keyframes aumentarColores{
    0% {
        transform: scale(1);
        background-color: gold;
    }
    100% {
        transform: scale(1.5);
        background-color: orange;
    }
    
}

.info{
    text-align: center;
}

.infoP{
    margin: auto;
    margin-bottom: 20px;
    font-family: DejaVu Sans Mono;
    
    border: solid 3px;
    border-radius: 5px;
    
    width: 350px;
    height: 16px;
    background-color: white;
    font-family: DejaVu Sans Mono;
    font-size: 14px;
}

.champSelect{
    background-color: black !important;
}

.champSelect:hover{
    animation-name: aumentar;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;  /*Mantiene el aumento de la animación*/
}

@keyframes aumentar{
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
    
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#wiki{
    display: grid;
    grid-template-columns: repeat(5, 1fr);  /*1fr = 100px*/ /*Numero de columnas y su tamañano*/
    gap: 12px;                         /*Separación entre columnas*/
    width: 100%;
}

#mensaje{
    color: white;
    visibility: hidden;
    
}

.description p{
    text-align: justify;
}

.champSelect{
    border: 2px solid rgb(78, 78, 78);
    border-radius: 5px;
    font-family: DejaVu Sans Mono, monospace;
    text-align: center;
}

.description p{
    color: white;
    display: none;
    transform: translateY(-500px);
    margin: 10px;
}

.description:active .imgChamp{
    filter: blur(8px);
    cursor: pointer;
}

.description:active p{
    display:inline;
    top: 0;
}

.nombre{
    margin: 0;
    border: 2px solid;
    font: bold;
    background: linear-gradient(rgb(248,247,169), rgb(255, 174, 0));
}

.resource{
    border: solid 2px;
    background: linear-gradient(rgb(0, 255, 255), rgb(0, 140, 255));
}

